@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --mainColor: #00edff;
}
.parent {
  width: 100%;
  height: 100vh;
  background: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs {
  background: var(--mainColor);
  display: flex;
  position: relative;
  border: var(--mainColor) 1px solid;
}
i {
  cursor: pointer;
}
.inputs span i {
  color: white;
  padding: 0px 5px;
}
input {
  outline: none;
  border: none;
  padding: 0px 0px 0px 5px;
  color: var(--mainColor);
}
input::placeholder {
  font-size: 10px;
}
.eyes {
  position: absolute;
  width: 25px;
  right: 0px;
  z-index: 3333;
  height: 25px;
  padding: 4px 5px 0px 0px;
  overflow: hidden;
}
.eyes.pop i {
  transform: translateY(-26px);
}
.eyes i {
  position: absolute;
  width: 18px;
  height: 20px;
  color: var(--mainColor);
}
.close {
  top: 30px;
}
